<!doctype html>
<html>
   <head>
       <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/main.css') }}">
   </head>
   <body>
      <div class="loginStyle">
         <div class="formStyleHeading">Analyze your Dropbox Storage</div>
            <form id="main" action = "http://localhost:5000/account" method = "POST">
               <label for="accessToken">Enter the Access Token</label>
               <input type = "text" id = "accessToken" name = "accessToken" class = "inputField" title = "Enter access token" />
               <input type = "submit" value = "Submit" class = "buttonNormal" title = "Submit token" />
            </form>
         </div>
      </div>
      {% if error == "0" %}
         <div class="errorText">Token required</div>
      {% elif error == "1" %}
         <div class="errorText">Please enter a valid token</div>
      {% endif %}
   </body>
</html>